.chatListInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.chatListUser {
    display: flex;
    align-items: center;
    width: 100%;
    height: 5rem;

    padding: 0.5625rem;

    border-radius: 1rem;

    background-color: rgb(255, 255, 255);
}

.chatListUser:not(.chatListUser_active):hover {
    background-color: rgba(244, 244, 245);
}

.chatListUser_active {
    background-color: rgb(74, 157, 238);
}

.chatListUser.hidden {
    display: none;
}

.userFullName {
    font-weight: 500;
    font-size: 17px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userFullName_normal {
    color: rgba(3, 3, 3);
}

.userFullName_selected {
    color: rgb(255, 255, 255);
}

.chatListLastMessage {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 400;
    font-size: 15px;
}

.chatListLastMessage_normal {
    color: rgba(112, 117, 121, 1);
}

.chatListLastMessage_selected {
    color: rgb(255, 255, 255);
}


/*Avatar*/
.chatListAvatarImg {
    width: 3.5rem;
    height: 3.5rem;

    margin-right: 0.625rem;

    border-radius: 50%;
    object-fit: cover;
}

.navBarHeaderAvatarImg {
    width: 2.5rem;
    height: 2.5rem;

    margin-right: 0.625rem;
}

.avatarImg {
    border-radius: 50%;
    object-fit: cover;
}

/*UserStatus*/
.navBarUserStatus {
    font-weight: 400;
    font-size: 14px;
    color: rgba(112, 117, 121, 1);
}